@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

@layer utilities {
  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-down {
    animation: fade-in-down 0.3s ease-out;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;800&display=swap');


.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
}




@keyframes gradientBorder {
  0% {
    border-color: #2563eb; /* azul-600 */
    box-shadow: 0 0 6px #2563eb;
  }
  50% {
    border-color: #7c3aed; /* roxo-600 */
    box-shadow: 0 0 8px #7c3aed;
  }
  100% {
    border-color: #2563eb;
    box-shadow: 0 0 8px #2563eb;
  }
}

.focus\:gradient-border:focus {
  animation: gradientBorder 2s ease infinite;
  border-width: 2px;
}

